<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfNajAFmxxk7XetAw9ZFORrCm-AkmrTag</string>
	<key>GCM_SENDER_ID</key>
	<string>1045718509938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.naqshsoft.savdoAdmin</string>
	<key>PROJECT_ID</key>
	<string>n-savdo</string>
	<key>STORAGE_BUCKET</key>
	<string>n-savdo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045718509938:ios:6d729f7f30d4631f8315eb</string>
</dict>
</plist>